
@{
    ViewBag.Title = "Core Recognition Email Message";
}

<h2 class="text-success">Core Values Recognition Email</h2>
Here is a message that would have been sent
<br />
@TempData["msg"].ToString();

