@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Team One<br />
    Ohio University <br />
</address>

<address>
    <strong>Machala Abrahamowicz:</strong>   <a href="ma391115@ohio.edu">ma39115@ohio.edu</a><br />
    <strong>Lance Boise:</strong> <a href="lb945616@ohio.edu">lb945616@ohio.edu</a><br />
    <strong>Cayla Caviris:</strong> <a href="cc465416@ohio.edu">cc465416@ohio.edu</a><br />
    <strong>Matt Hillard:</strong> <a href="mh019516@ohio.edu">mh019516.edu</a><br />
    <strong>Jack Rauch:</strong> <a href="jr864916@ohio.edu">jr864916@ohio.edu</a><br />
    <strong>Kayley Walker:</strong> <a href="kw355016@ohio.edu">kw355016@ohio.edu</a><br />
</address>