@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric</h1>
    <p class="lead">Digital, business and technology consulting for business resilience!</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-warning">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest Insights</h2>
        <p class="text-warning" >
            Check out Centric's lastest blog article. About Working better Remotely!
        </p>
        <p><a class="btn btn-warning" href=https://centricconsulting.com/blog/stories-from-the-couch-living-better-working-better-through-remote-work/>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Careers</h2>
        <p class="text-warning"> Become part of our team!</p>
        <p><a class="btn btn-warning"  href=https://centricconsulting.com/about-us/careers/>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p class="text-warning" >Contact us with any issue</p>
        <p><a class="btn btn-warning" href="https://centricconsulting.com/contact/">Learn more &raquo;</a></p>
    </div>
</div>