
@{
    ViewBag.Title = "Social Media";
}

<h2>Social Media</h2>

<h3>Get to know us better and check out our social media!</h3>

<ul class="list-group">
    <a href="https://www.facebook.com/CentricConsultingNational" class="list-group-item">Facebook</a>
    <a href="https://www.instagram.com/centricconsulting/" class="list-group-item">Instagram</a>
    <a href="https://twitter.com/centric" class="list-group-item">Twitter</a>
    <a href="https://www.linkedin.com/company/centric-consulting/" class="list-group-item">LinkedIn</a>
    <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw"class="list-group-item">Youtube</a>
</ul>

